* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7bed9f;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin: 0 1em 0 1em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

th,td, tr {
    border: 1px solid #ffa502;
    padding: 8px;
    color:#70a1ff
}
